<!DOCTYPE html>
<html lang="en" ng-app="RegApp">

<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.css" />
    <link rel="stylesheet" href="/css/main.css" />
</head>

<body>
    <div class="col-sm-2 col-lg-4"></div>
    <div ng-controller="RegistrationCtrl as ctrl" class="col-sm-8 col-lg-4 registration-page">
        <h1> Registration </h1>
        <form name="registrationForm" ng-submit="ctrl.registerUser()" novalidate>
            <div class="form-group">
                <label for="email">Email address</label>
                <input id="email" name="email" type="email" placeholder="you@domain.com" class="form-control" ng-model="ctrl.user.email" /> {{ ctrl.displayUser.email }}
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input id="password" name="password" type="password" class="form-control" ng-model="ctrl.user.password" />
            </div>
            <div class="form-group">
                <label for="confirm-password">Confirm Password</label>
                <input id="confirm-password" name="confirm-password" type="password" class="form-control" />
            </div>
            <div class="form-group">
                <label for="fullname">Full Name</label>
                <input id="fullname" name="fullname" type="text" class="form-control" ng-model="ctrl.user.fullname"/> {{ ctrl.displayUser.fullname }}
            </div>
            <div class="form-group">
                <label for="gender">Gender</label>
                <br/>
                <input id="gender" name="gender" type="radio" value="M" ng-model="ctrl.user.gender"/> Male
                <br/>
                <input id="gender" name="gender" type="radio" value="F" ng-model="ctrl.user.gender"/> Female
                <br/> {{ ctrl.displayUser.gender }}
            </div>
            <div class="form-group">
                <label for="dateOfBirth">Date of Birth</label>
                <input id="dateOfBirth" name="dateOfBirth" type="date" class="form-control" ng-model="ctrl.user.dateOfBirth"/> 
                <br/> {{ ctrl.displayUser.dateOfBirth }}
            </div>
            <div class="form-group">
                <label for="address">Address</label>
                <input id="address" name="address" type="text" class="form-control" />
            </div>
            <div class="form-group">
                <label for="nationality">Nationality</label>
                <select class="form-control" id="nationality">
                <option value="1">Singaporean</option>
                <option value="2">Malaysian</option>
                <option value="3">Thai</option>
            </select>
            </div>
            <div class="form-group">
                <label for="contactNumber">Contact number</label>
                <input id="contactNumber" name="contactNumber" type="text" class="form-control" />
            </div>
            <div class="form-group">
                <hr/>
                <input id="submit" name="submit" type="submit" class="btn btn-success" />
            </div>
        </form>
    </div>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/js/app.js"></script>
</body>

</html>